.header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #056fb7;
}

.material-icons.burger-btn {
	margin-left: auto;
	color: #fff;
	font-size: 36px;
	user-select: none;
	cursor: pointer;
}

a {
	color: #fff;
	font-size: 18px;
}
